:root {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  // for debugging
  /* border: 1px solid red; */
}
